<section id="contacts">
  <form>
    <div class="d-flex justify-content-center">
        <h2> Contactos </h2>
    </div>
    <section class="d-flex flex-row justify-content-between">
        <form class="d-flex">
            <input class="form-control me-2" type="search" name ="searchTerm" placeholder="Buscar" aria-label="Search" [(ngModel)]="service.searchTerm">  
        </form>
        <span class="ml-3 btn btn-outline-primary" *ngIf="service.loading$ | async">Loading...</span>
        <form class="d-flex">
            <button type="button" class="btn btn-outline-primary">
              <i class="bi bi-cloud-arrow-up-fill"></i> Importar
            </button>
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle><i class="bi bi-cloud-arrow-down-fill"></i> Exportar</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Seleccion</button>
                <button ngbDropdownItem>Todos</button>
              </div>
            </div>
            
            <button type="button" class="btn btn-primary" (click)="openModal()">
              <i class="bi bi-cloud-plus-fill"></i> Agregar contacto
            </button>
        </form>
    </section>

    <app-popup [title]="'Agregar contacto'" [display]="displayNewContact" (popupClose)="onCloseHandled('newContact')"  (popupSaved)="saveContact()">
      <form class="flex-form" [formGroup]="formContact"> 
        <div class="input-group">
          <ngp-image-picker  [_config]="imagePickerConf" ($imageChanged)="onImageChange($event)"></ngp-image-picker>
        </div>
        <div class="input-group">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="inputName" placeholder="Pilar" formControlName="inputName">
            <label for="inputName">Nombre</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="inputLastName" placeholder="Garcia" formControlName="inputLastName">
            <label for="inputLastName">Apellido</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="inputRole" placeholder="Developer" formControlName="inputRole">
            <label for="inputRole">Cargo</label>
          </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="inputEmail" placeholder="pilargarcia@example.com" formControlName="inputEmail">
            <label for="inputEmail">Email</label>
          </div>
          <div class="form-floating mb-3">
            <select class="form-select mb-3 min-width" id="company" aria-label="Floating label select example" formControlName="inputCompany">
              <option *ngFor="let company of companies; index as i" [value]="company.id"> {{company.name}} </option>
            </select>
            <label for="floatingSelect">Compañía</label>
          </div>
        </div>
        <div class="input-group">
          <div class="form-floating mb-3">
            <select class="form-select mb-3" id="region" aria-label="Floating label select example" formControlName="region">
              <option *ngFor="let region of regions; index as i" [value]="region.id"> {{region.name}} </option>
            </select>
            <label for="floatingSelect">Región</label>
          </div>
          <div class="form-floating mb-3">
            <select class="form-select mb-3" id="country" name="country" aria-label="Floating label select example" formControlName="country">
              <option [value]="" > seleccione </option>
              <option *ngFor="let country of selectedRegion.countries; index as i" [value]="country.id"> {{country.name}} </option>
            </select>
            <label  for="floatingSelect">País</label>
          </div>
          <div class="form-floating mb-3">
            <select class="form-select mb-3" id="city" name="city" aria-label="Floating label select example" formControlName="city">
              <option [value]="" > seleccione </option>
              <option *ngFor="let city of selectedCountry.cities; index as i" [value]="city.id"> {{city.name}} </option>
            </select>
            <label  for="floatingSelect">Ciudad</label>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="inputAddress" placeholder="alguna Dirección" formControlName="address">
            <label for="inputAddress">Dirección</label>
          </div>
          <div class="mb-3">
            <label for="interes" class="form-label">Interés</label>
            <div class="form-control progress-bar-container"><ngb-progressbar class="progress-bar" (click)="changeInteres()"  type="success" textType="white" [value]="interes" [showValue]="true"></ngb-progressbar></div>
          </div>  
        </div>
        <div [formGroup]="formChannel" class="input-group row g-2 d-flex justify-content-between">
              <div class="form-floating">
                <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example" formControlName="channel">
                  <option selected>Seleccione</option>
                  <option value="whatsapp">Whatsapp</option>
                  <option value="instagram">Instagram</option>
                  <option value="email">Email</option>
                </select>
                <label for="floatingSelectGrid">Canal de contacto</label>
              </div>
              <div class="form-floating">
                <input type="text" class="form-control" id="inputUserAccount" placeholder="12435" formControlName="userAccount">
                <label for="inputUserAccount">Cuenta de usuario</label>
              </div>
              <div class="form-floating">
                <select class="form-select" id="inputPreferences" aria-label="Floating label select example" formControlName="preference">
                  <option selected>Seleccione</option>
                  <option value="1">No molestar</option>
                  <option value="2">Canal Preferido</option>
                </select>
                <label for="inputPreferences">Preferencias</label>
              </div>
              <button type="button" class="btn btn-outline-primary" (click)="addChannel()">
                 Agregar Canal
              </button>
              <div >
                  <h6 class="channel" *ngFor="let channel of channels"> {{channel.name}} </h6>
              </div>
            </div>
      </form>
    </app-popup>

    <app-popup [title]="'Acciones'" [icon]="'bi bi-command'" [showConfirm]="false" [display]="displayMoreActions" (popupClose)="onCloseHandled('moreActions')">
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-outline-primary">
          <i class="bi bi-trash"></i> Eliminar
        </button>
        <button type="button" class="btn btn-outline-primary">
          <i class="bi bi-pencil"></i> Editar
        </button>
      </div>
    </app-popup>

    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">
          <input class="form-check-input" type="checkbox" [(ngModel)]="checkAllContactsModel" 
          (change)="checkAllContacts()" [ngModelOptions]="{standalone: true}" id="checkAllContacts">
        </th>
        <th scope="col" sortable="name" (sort)="onSort($event)">
          Contacto <i class="bi bi-arrow-down-up" *ngIf="sortedElement != 'name'" ></i>
          <i class="bi bi-arrow-down" *ngIf="sortedElement == 'name' && sortedDirection == 'desc' "></i>
          <i class="bi bi-arrow-up" *ngIf="sortedElement == 'name' && sortedDirection == 'asc' "></i>
        </th>
        <th scope="col" sortable="City" (sort)="onSort($event)">País/Región 
          <i class="bi bi-arrow-down-up" *ngIf="sortedElement != 'city'" ></i>
          <i class="bi bi-arrow-down" *ngIf="sortedElement == 'city' && sortedDirection == 'desc' "></i>
          <i class="bi bi-arrow-up" *ngIf="sortedElement == 'city' && sortedDirection == 'asc' "></i>
        </th>
        <th scope="col" sortable="Company" (sort)="onSort($event)">Compañía 
          <i class="bi bi-arrow-down-up" *ngIf="sortedElement != 'company'" ></i>
          <i class="bi bi-arrow-down" *ngIf="sortedElement == 'company' && sortedDirection == 'desc' "></i>
          <i class="bi bi-arrow-up" *ngIf="sortedElement == 'company' && sortedDirection == 'asc' "></i>
        </th>
        <th scope="col" sortable="position" (sort)="onSort($event)">Cargo 
          <i class="bi bi-arrow-down-up" *ngIf="sortedElement != 'position'" ></i>
          <i class="bi bi-arrow-down" *ngIf="sortedElement == 'position' && sortedDirection == 'desc' "></i>
          <i class="bi bi-arrow-up" *ngIf="sortedElement == 'position' && sortedDirection == 'asc' "></i>
        </th>
        <th scope="col" class="action-item"> 
           acciones
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let country of countries$ | async; index as i">
        <th scope="row"><input class="form-check-input" type="checkbox" [(ngModel)]="country.checked" [ngModelOptions]="{standalone: true}" id="{{'checkContact'+i}}"></th>
        <td>
          <img [src]="country.photo" class="mr-2" style="width: 20px">
          <ngb-highlight [result]="country.name" [term]="service.searchTerm"></ngb-highlight>
        </td>
        <td><ngb-highlight [result]="country.City.name | titlecase" [term]="service.searchTerm"></ngb-highlight></td>
        <td><ngb-highlight [result]="country.Company.name | titlecase" [term]="service.searchTerm"></ngb-highlight></td>
        <td><ngb-highlight [result]="country.position| titlecase" [term]="service.searchTerm"></ngb-highlight></td>
        <td class="action-item" (click)="showMoreActions()"><ngb-highlight [result]="'...'"></ngb-highlight></td>
      </tr>
      </tbody>
    </table>
  
    <div class="d-flex justify-content-between p-2">
      <ngb-pagination
        [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
      </ngb-pagination>
  
      <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
        <option [ngValue]="2">2 Contactos por página</option>
        <option [ngValue]="4">4 Contactos por página</option>
        <option [ngValue]="6">6 Contactos por página</option>
      </select>
    </div>
  
  </form>
</section>

