#contacts{
    min-height: 91vh;
}

button{
    padding: 5px;
    margin: 5px;
}

.modal-dialog{
    max-width: 80%;
}

.modal-header {
    background-color: #0d6efd99;
}

.modal-footer {
    background-color: #0d6efd99;
}

.modal{
    justify-content: center;
    align-items: center;
    background-color: #708090e6;
}

.input-group{
    margin-bottom: 10px;
}

.action-item{
    text-align: center;
    cursor: pointer;
}

.action-item:hover{
    background-color: aliceblue;
}