<header>
    <nav class="blue-nav navbar navbar-primary bg-primary align-self-center">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/home" >Data Warehouse</a>
            <div class="d-flex">
                <h3> {{userName}} </h3>
                <h3 *ngIf="logged" class="logout" (click)="logout()" > 
                    <i class="bi bi-door-open-fill"></i>
                </h3>
            </div>
            <ul *ngIf="logged" class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/contacts" routerLinkActive="active">Contactos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Compañia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register" routerLinkActive="active">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/region" routerLinkActive="active">Region / Ciudad</a>
                </li>
            </ul>
        </div>
      </nav>
</header>